//- .graph.
//-   <?xml version="1.0" encoding="UTF-8" standalone="no"?>
//-   <svg width="601px" height="800px" viewBox="0 0 601 800" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
//-       <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
//-       <title>Artboard 2 Copy 8</title>
//-       <desc>Created with Sketch.</desc>
//-       <defs></defs>
//-       <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
//-           <g id="Artboard-2-Copy-8" sketch:type="MSArtboardGroup" transform="translate(0.826451, 0.000000)">
//-               <text id="Exercise-Copy" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="12.8147315" font-weight="420" sketch:alignment="right" fill="#4A4A4A">
//-                   <tspan x="23.2863246" y="229.480084">Exercise</tspan>
//-               </text>
//-               <text id="Calories" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="12.8147315" font-weight="420" sketch:alignment="right" fill="#4A4A4A">
//-                   <tspan x="25.9638172" y="65.1278826">Calories</tspan>
//-               </text>
//-               <text id="Articles-Copy" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="12.8147315" font-weight="420" sketch:alignment="right" fill="#4A4A4A">
//-                   <tspan x="24.3010471" y="353.035639">Articles</tspan>
//-               </text>
//-               <text id="Weigh-ins-Copy" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="12.8147315" font-weight="420" fill="#4A4A4A">
//-                   <tspan x="26.1417323" y="529.044025">Weigh-ins</tspan>
//-               </text>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(211.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="10.9212598" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-120" fill="#4990E2" sketch:type="MSShapeGroup" x="12.0866142" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-135" fill="#4990E2" sketch:type="MSShapeGroup" x="12.0866142" y="218.289308" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-151" fill="#4990E2" sketch:type="MSShapeGroup" x="12.2888607" y="102.893082" width="36.1259843" height="29.1404612"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-232" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.8122073" y="16.3333333">-232</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 183.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="40-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.2717073" y="16.3333333">40 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="5/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.902" y="16.3333333">5/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(448.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.6535433" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-113" fill="#4990E2" sketch:type="MSShapeGroup" x="13.984252" y="372.150943" width="36.1259843" height="29.1404612"></rect>
//-                   <rect id="Rectangle-175-Copy-127" fill="#D0011B" sketch:type="MSShapeGroup" x="13.984252" y="402.457023" width="36.1259843" height="29.1404612"></rect>
//-                   <rect id="Rectangle-175-Copy-144" fill="#4990E2" sketch:type="MSShapeGroup" x="12.8188976" y="241.601677" width="36.1259843" height="34.9685535"></rect>
//-                   <rect id="Rectangle-175-Copy-156" fill="#4990E2" sketch:type="MSShapeGroup" x="13.0211442" y="102.893082" width="36.1259843" height="34.9685535"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-254" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.3997073" y="16.3333333">-254</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 207.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="20-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.6787073" y="16.3333333">20 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(1.500000, 338.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="2/4" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.638" y="16.3333333">2/4</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(527.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.8976378" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-132" fill="#D0011B" sketch:type="MSShapeGroup" x="13.3937008" y="402.457023" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-140" fill="#4990E2" sketch:type="MSShapeGroup" x="13.0629921" y="262.582809" width="36.1259843" height="13.9874214"></rect>
//-                   <g id="tooltip" transform="translate(2.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="N/A" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="18.6867073" y="16.3333333">N/A</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(2.500000, 228.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="10-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="12.0097073" y="16.3333333">10 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 369.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="0/2" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.385" y="16.3333333">0/2</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(171.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.2992126" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-121" fill="#4990E2" sketch:type="MSShapeGroup" x="12.4645669" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-137" fill="#4990E2" sketch:type="MSShapeGroup" x="12.4645669" y="241.601677" width="36.1259843" height="34.9685535"></rect>
//-                   <rect id="Rectangle-175-Copy-155" fill="#4990E2" sketch:type="MSShapeGroup" x="12.6668135" y="102.893082" width="36.1259843" height="34.9685535"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-250" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.1467073" y="16.3333333">-250</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 207.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="20-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.6787073" y="16.3333333">20 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="5/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.902" y="16.3333333">5/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(408.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="12.0314961" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-114" fill="#4990E2" sketch:type="MSShapeGroup" x="14.3622047" y="387.303983" width="36.1259843" height="13.9874214"></rect>
//-                   <rect id="Rectangle-175-Copy-128" fill="#D0011B" sketch:type="MSShapeGroup" x="14.3622047" y="402.457023" width="36.1259843" height="43.7106918"></rect>
//-                   <rect id="Rectangle-175-Copy-141" fill="#4990E2" sketch:type="MSShapeGroup" x="13.1968504" y="247.429769" width="36.1259843" height="29.1404612"></rect>
//-                   <rect id="Rectangle-175-Copy-150" fill="#4990E2" sketch:type="MSShapeGroup" x="13.3990969" y="102.893082" width="36.1259843" height="4.66247379"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-12" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="22.7017073" y="16.3333333">-12</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 213.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="18-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="12.5157073" y="16.3333333">18 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(1.500000, 354.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="1/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="21.3045" y="16.3333333">1/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(489.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="10.2755906" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-124" fill="#D0011B" sketch:type="MSShapeGroup" x="11.6062992" y="402.457023" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-142" fill="#4990E2" sketch:type="MSShapeGroup" x="11.4409449" y="257.920335" width="36.1259843" height="18.6498952"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="N/A" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="18.6867073" y="16.3333333">N/A</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 223.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="14-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="12.2627073" y="16.3333333">14 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 369.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="0/3" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.319" y="16.3333333">0/3</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(131.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.6771654" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-122" fill="#4990E2" sketch:type="MSShapeGroup" x="12.8425197" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-134" fill="#4990E2" sketch:type="MSShapeGroup" x="12.8425197" y="228.779874" width="36.1259843" height="47.7903564"></rect>
//-                   <rect id="Rectangle-175-Copy-149" fill="#4990E2" sketch:type="MSShapeGroup" x="13.0447662" y="102.893082" width="36.1259843" height="47.7903564"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-302" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.1522073" y="16.3333333">-302</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 193.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="30-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.6127073" y="16.3333333">30 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="3/3" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.913" y="16.3333333">3/3</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(368.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="12.4094488" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <path d="M50.8661417,416.444444 L14.7401575,416.444444 L14.7401575,402.457023 L50.8661417,402.457023 L50.8661417,416.444444 L50.8661417,416.444444 Z" id="Rectangle-175-Copy-115" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                   <path d="M50.8661417,401.291405 L14.7401575,401.291405 L14.7401575,357.580713 L50.8661417,357.580713 L50.8661417,401.291405 L50.8661417,401.291405 Z" id="Rectangle-175-Copy-129" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                   <rect id="Rectangle-175-Copy-143" fill="#4990E2" sketch:type="MSShapeGroup" x="13.5748031" y="241.601677" width="36.1259843" height="34.9685535"></rect>
//-                   <rect id="Rectangle-175-Copy-154" fill="#D0011B" sketch:type="MSShapeGroup" transform="translate(31.840042, 100.561845) scale(1, -1) translate(-31.840042, -100.561845) " x="13.7770497" y="98.230608" width="36.1259843" height="4.66247379"></rect>
//-                   <g id="tooltip" transform="translate(1.500000, 65.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="+32" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="20.0452073" y="16.3333333">+32</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 207.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="20-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.6787073" y="16.3333333">20 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(1.500000, 324.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="4/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.5665" y="16.3333333">4/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(92.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.0551181" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-123" fill="#4990E2" sketch:type="MSShapeGroup" x="12.2204724" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-136" fill="#4990E2" sketch:type="MSShapeGroup" x="12.2204724" y="241.601677" width="36.1259843" height="34.9685535"></rect>
//-                   <rect id="Rectangle-175-Copy-153" opacity="0.2" fill="#4990E2" sketch:type="MSShapeGroup" x="12.422719" y="102.893082" width="36.1259843" height="34.9685535"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-255" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.7352073" y="16.3333333">-255</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 207.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="20-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.6787073" y="16.3333333">20 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="5/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.902" y="16.3333333">5/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(329.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.7874016" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-130" fill="#D0011B" sketch:type="MSShapeGroup" x="12.9527559" y="402.457023" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-145" fill="#4990E2" sketch:type="MSShapeGroup" x="12.9527559" y="229.945493" width="36.1259843" height="46.6247379"></rect>
//-                   <rect id="Rectangle-175-Copy-158" fill="#D0011B" sketch:type="MSShapeGroup" transform="translate(31.217995, 91.819706) scale(1, -1) translate(-31.217995, -91.819706) " x="13.1550024" y="80.7463312" width="36.1259843" height="22.1467505"></rect>
//-                   <g id="tooltip" transform="translate(1.500000, 47.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="+208" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="15.8047073" y="16.3333333">+208</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 195.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="25-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="11.2672073" y="16.3333333">25 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 368.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="0/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.3135" y="16.3333333">0/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(53.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="10.4330709" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-125" fill="#4990E2" sketch:type="MSShapeGroup" x="11.5984252" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-138" fill="#4990E2" sketch:type="MSShapeGroup" x="11.5984252" y="218.289308" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-157" opacity="0.2" fill="#4990E2" sketch:type="MSShapeGroup" x="11.8006717" y="102.893082" width="36.1259843" height="58.2809224"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-620" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="16.9487073" y="16.3333333">-620</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 183.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="40-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.2717073" y="16.3333333">40 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="4/4" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.231" y="16.3333333">4/4</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(290.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="12.3307087" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-126" fill="#D0011B" sketch:type="MSShapeGroup" x="12.3307087" y="402.457023" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-160" opacity="0.2" fill="#D0011B" sketch:type="MSShapeGroup" transform="translate(30.595947, 79.580713) scale(1, -1) translate(-30.595947, -79.580713) " x="12.5329552" y="56.2683438" width="36.1259843" height="46.6247379"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 22.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="+310" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.2237073" y="16.3333333">+310</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 242.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="N/A" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="8" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="22.4597073" y="13.3333333">N/A</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 368.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="0/3" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.319" y="16.3333333">0/3</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(13.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.976378" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-131" fill="#4990E2" sketch:type="MSShapeGroup" x="11.976378" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-139" fill="#4990E2" sketch:type="MSShapeGroup" x="11.976378" y="218.289308" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-159" opacity="0.2" fill="#4990E2" sketch:type="MSShapeGroup" x="12.1786245" y="102.893082" width="36.1259843" height="58.2809224"></rect>
//-                   <g id="tooltip" transform="translate(0.500000, 68.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="-985" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.3832073" y="16.3333333">-985</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 183.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="40-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.2717073" y="16.3333333">40 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="5/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.902" y="16.3333333">5/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <g id="column" sketch:type="MSLayerGroup" transform="translate(250.000000, 26.000000)">
//-                   <rect id="scrubber" fill="#F3F3F3" sketch:type="MSShapeGroup" x="11.7086614" y="0.318658281" width="38.4566929" height="533.853249"></rect>
//-                   <rect id="Rectangle-175-Copy-119" fill="#4990E2" sketch:type="MSShapeGroup" x="12.7086614" y="343.010482" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-133" fill="#4990E2" sketch:type="MSShapeGroup" x="12.7086614" y="218.289308" width="36.1259843" height="58.2809224"></rect>
//-                   <rect id="Rectangle-175-Copy-147" fill="#D0011B" sketch:type="MSShapeGroup" transform="translate(32.139254, 87.740042) scale(1, -1) translate(-32.139254, -87.740042) " x="14.0762623" y="72.5870021" width="36.1259843" height="30.3060797"></rect>
//-                   <g id="tooltip" transform="translate(1.500000, 38.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204" fill="#D0011B" sketch:type="MSShapeGroup"></path>
//-                       <text id="+251" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="17.8782073" y="16.3333333">+251</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 183.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="40-min" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="10.2717073" y="16.3333333">40 min</tspan>
//-                       </text>
//-                   </g>
//-                   <g id="tooltip" transform="translate(0.500000, 308.000000)">
//-                       <path d="M0,0 L60,0 L60,25.3333333 L38.0465004,25.3333333 L30.5502341,32 L23.0539678,25.3333333 L0,25.3333333 L0,0 Z" id="Rectangle-1204-Copy-2" fill="#4990E2" sketch:type="MSShapeGroup"></path>
//-                       <text id="5/5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="11" font-weight="313" sketch:alignment="middle" fill="#FFFFFF">
//-                           <tspan x="19.902" y="16.3333333">5/5</tspan>
//-                       </text>
//-                   </g>
//-               </g>
//-               <rect id="Rectangle-1126-Copy-2" fill="#4A4A4A" sketch:type="MSShapeGroup" x="303.496063" y="26.2141024" width="272.692913" height="2.4357928"></rect>
//-               <rect id="Rectangle-1126-Copy-3" fill="#4A4A4A" sketch:type="MSShapeGroup" x="26.1417323" y="26.2141024" width="270.362205" height="2.4357928"></rect>
//-               <rect id="Rectangle-1126-Copy" opacity="0.349999994" sketch:type="MSShapeGroup" x="26.1417323" y="70.6121593" width="551.212598" height="116.561845"></rect>
//-               <rect id="Rectangle-1126-Copy-4" opacity="0.349999994" sketch:type="MSShapeGroup" x="26.1417323" y="369.010482" width="551.212598" height="117.727463"></rect>
//-               <text id="Week-5" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="10.4847803" font-weight="313" fill="#4A4A4A">
//-                   <tspan x="24.976378" y="20">Week 5</tspan>
//-               </text>
//-               <text id="Week-6-Copy" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="10.4847803" font-weight="313" fill="#4A4A4A">
//-                   <tspan x="303.496063" y="20">Week 6</tspan>
//-               </text>
//-               <path d="M8.27827525,25.1977887 L8.04576029,25.1745319 L7.85974832,25.0815048 L7.67373636,24.965221 L7.51097589,24.7791669 L7.37146691,24.5931127 L7.23195793,24.4303154 L7.09244896,24.2442613 L6.95293998,24.0582071 L6.81343101,23.872153 L6.67392203,23.7093556 L6.53441306,23.5233015 L6.39490408,23.3372474 L6.25539511,23.1511933 L6.11588613,22.9883959 L5.97637715,22.8023418 L5.83686818,22.6162877 L5.6973592,22.4302335 L5.55785023,22.2674362 L5.41834125,22.0813821 L5.27883228,21.8953279 L5.1393233,21.7092738 L4.99981433,21.5464764 L4.86030535,21.3604223 L4.72079637,21.1743682 L4.5812874,20.9883141 L4.44177842,20.8255167 L4.30226945,20.6394626 L4.18601197,20.4534085 L4.09300598,20.2673543 L4.0232515,20.104557 L4,19.9185028 L4.0232515,19.7324487 L4.09300598,19.5696514 L4.18601197,19.406854 L4.30226945,19.2207999 L4.44177842,19.0347457 L4.5812874,18.8486916 L4.74404787,18.6626375 L4.88355685,18.4765834 L5.02306582,18.2905292 L5.1625748,18.1044751 L5.30208377,17.918421 L5.44159275,17.7323669 L5.60435322,17.5463127 L5.74386219,17.3602586 L5.88337117,17.1509477 L6.02288015,16.9648936 L6.16238912,16.7788395 L6.32514959,16.5927853 L6.46465857,16.4067312 L6.60416754,16.2206771 L6.74367652,16.034623 L6.8831855,15.8485688 L7.02269447,15.6625147 L7.18545494,15.4764606 L7.32496392,15.2904065 L7.46447289,15.1043523 L7.65048486,14.941555 L7.83649683,14.7787576 L8.06901179,14.6857306 L8.30152675,14.6624738 L8.53404171,14.6857306 L8.74330517,14.7787576 L8.95256863,14.9182982 L9.09207761,15.1276091 L9.18508359,15.33692 L9.20833509,15.5694877 L9.18508359,15.7555418 L9.1385806,15.9183391 L9.06882611,16.0811365 L8.95256863,16.2206771 L8.81305966,16.4067312 L8.67355068,16.5927853 L8.53404171,16.7788395 L8.39453273,16.9648936 L8.25502376,17.127691 L8.11551478,17.3137451 L7.9760058,17.4997992 L7.83649683,17.6858533 L7.69698785,17.8719075 L7.58073037,18.0579616 L7.4412214,18.2440157 L7.30171242,18.4300698 L7.16220345,18.616124 L7.02269447,18.8021781 L6.8831855,18.9649754 L6.74367652,19.1510296 L6.60416754,19.3370837 L6.46465857,19.5231378 L6.32514959,19.7091919 L6.18564062,19.8952461 L6.32514959,20.0813002 L6.46465857,20.2673543 L6.60416754,20.4534085 L6.74367652,20.6394626 L6.8831855,20.8255167 L7.02269447,21.0348276 L7.16220345,21.2208817 L7.30171242,21.4069358 L7.4412214,21.59299 L7.58073037,21.7790441 L7.72023935,21.9650982 L7.85974832,22.1511523 L7.9992573,22.3372065 L8.13876628,22.5232606 L8.27827525,22.7093147 L8.41778423,22.9186256 L8.5572932,23.1046797 L8.69680218,23.2907339 L8.83631115,23.476788 L8.97582013,23.6628421 L9.11532911,23.8488962 L9.18508359,24.0582071 L9.20833509,24.2907748 L9.18508359,24.5465992 L9.09207761,24.7559101 L8.95256863,24.9419642 L8.74330517,25.0815048 L8.53404171,25.1745319 L8.27827525,25.1977887 Z" id="‹" fill="#4A4A4A" sketch:type="MSShapeGroup"></path>
//-               <path d="M591.103288,14.6624738 L591.335803,14.6857306 L591.521815,14.7787576 L591.707827,14.8950415 L591.870588,15.0810956 L592.010097,15.2671497 L592.149606,15.4299471 L592.289114,15.6160012 L592.428623,15.8020553 L592.568132,15.9881094 L592.707641,16.1509068 L592.84715,16.3369609 L592.986659,16.523015 L593.126168,16.7090692 L593.265677,16.8718665 L593.405186,17.0579207 L593.544695,17.2439748 L593.684204,17.4300289 L593.823713,17.5928263 L593.963222,17.7788804 L594.102731,17.9649345 L594.24224,18.1509886 L594.381749,18.313786 L594.521258,18.4998401 L594.660767,18.6858943 L594.800276,18.8719484 L594.939785,19.0347457 L595.079294,19.2207999 L595.195551,19.406854 L595.288557,19.5929081 L595.358312,19.7557055 L595.381563,19.9417596 L595.358312,20.1278137 L595.288557,20.2906111 L595.195551,20.4534085 L595.079294,20.6394626 L594.939785,20.8255167 L594.800276,21.0115708 L594.637516,21.197625 L594.498007,21.3836791 L594.358498,21.5697332 L594.218989,21.7557873 L594.07948,21.9418415 L593.939971,22.1278956 L593.77721,22.3139497 L593.637701,22.5000038 L593.498192,22.7093147 L593.358683,22.8953688 L593.219174,23.081423 L593.056414,23.2674771 L592.916905,23.4535312 L592.777396,23.6395854 L592.637887,23.8256395 L592.498378,24.0116936 L592.358869,24.1977477 L592.196108,24.3838019 L592.0566,24.569856 L591.917091,24.7559101 L591.731079,24.9187075 L591.545067,25.0815048 L591.312552,25.1745319 L591.080037,25.1977887 L590.847522,25.1745319 L590.638258,25.0815048 L590.428995,24.9419642 L590.289486,24.7326533 L590.19648,24.5233424 L590.173228,24.2907748 L590.19648,24.1047207 L590.242983,23.9419233 L590.312737,23.7791259 L590.428995,23.6395854 L590.568504,23.4535312 L590.708013,23.2674771 L590.847522,23.081423 L590.987031,22.8953688 L591.12654,22.7325715 L591.266049,22.5465174 L591.405558,22.3604632 L591.545067,22.1744091 L591.684576,21.988355 L591.800833,21.8023009 L591.940342,21.6162467 L592.079851,21.4301926 L592.21936,21.2441385 L592.358869,21.0580844 L592.498378,20.895287 L592.637887,20.7092329 L592.777396,20.5231787 L592.916905,20.3371246 L593.056414,20.1510705 L593.195923,19.9650164 L593.056414,19.7789622 L592.916905,19.5929081 L592.777396,19.406854 L592.637887,19.2207999 L592.498378,19.0347457 L592.358869,18.8254349 L592.21936,18.6393807 L592.079851,18.4533266 L591.940342,18.2672725 L591.800833,18.0812184 L591.661324,17.8951642 L591.521815,17.7091101 L591.382306,17.523056 L591.242797,17.3370018 L591.103288,17.1509477 L590.963779,16.9416368 L590.82427,16.7555827 L590.684761,16.5695286 L590.545252,16.3834745 L590.405743,16.1974203 L590.266234,16.0113662 L590.19648,15.8020553 L590.173228,15.5694877 L590.19648,15.3136632 L590.289486,15.1043523 L590.428995,14.9182982 L590.638258,14.7787576 L590.847522,14.6857306 L591.103288,14.6624738 L591.103288,14.6624738 Z" id="‹-copy" fill="#4A4A4A" sketch:type="MSShapeGroup"></path>
//-               <rect id="Rectangle-1126-Copy-20" opacity="0.349999994" sketch:type="MSShapeGroup" x="24.976378" y="244.289308" width="550.047244" height="58.2809224"></rect>
//-               <rect id="Rectangle-1126-Copy-20" opacity="0.349999994" sketch:type="MSShapeGroup" x="35.4645669" y="540.356394" width="537.81961" height="19.8155136"></rect>
//-               <ellipse id="Oval-60-Copy-2" stroke="#FFFFFF" fill="#4A90E2" sketch:type="MSShapeGroup" cx="35.4645669" cy="550.84696" rx="15.1496063" ry="15.1530398"></ellipse>
//-               <text id="180-copy-2" sketch:type="MSTextLayer" font-family="Gotham Rnd SSm" font-size="9.31980471" font-weight="313" fill="#FFFFFF">
//-                   <tspan x="27.5093331" y="554.018868">180</tspan>
//-               </text>
//-               <rect id="Rectangle-175-Copy-45" opacity="0.2" fill="#D0011B" sketch:type="MSShapeGroup" x="302.330709" y="540.356394" width="271.527559" height="19.8155136"></rect>
//-           </g>
//-       </g>
//-   </svg>

h1 good user
h4 calories
#calories-good
h4 exercise
#exercise-good
h4 articles
#articles-good

h1 bad user
h4 calories
#calories-bad
h4 exercise
#exercise-bad
h4 articles
#articles-bad

h1 mixed user
h4 calories
#calories-mixed
h4 exercise
#exercise-mixed
h4 articles
#articles-mixed

h1 spotty user
h4 calories
#calories-spotty
h4 exercise
#exercise-spotty
h4 articles
#articles-spotty

script.

  //- var calories1 = [
  //-   ["1",.02], 
  //-   ["2",0.025], 
  //-   ["C",0.008], 
  //-   ["D",0.023], 
  //-   ["E", .01], 
  //-   ["F", .01], 
  //-   ["G",-0.025], 
  //-   ["H",-0.008],
  //-   ["I",-0.023], 
  //-   ["J",-0.009], 
  //-   ["K", 0.005], 
  //-   ["l",.012], 
  //-   ["m",0.025], 
  //-   ["n",0.008]
  //- ];

  var calories = [];

  d3.text("calories_mixed.csv", function(data) {
    c = d3.csv.parseRows(data);
    for (i = 0; i < c.length; i++) {
      calories.push([ c[i][0], parseFloat(c[i][1]) ] )
    }

  d3.select("#calories-good")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#exercise-good")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#articles-good")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#calories-bad")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#exercise-bad")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#articles-bad")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#calories-mixed")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#exercise-mixed")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#articles-mixed")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#calories-spotty")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#exercise-spotty")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  d3.select("#articles-spotty")
    .datum(calories)
      .call(columnChart()
        .width(600)
        .height(100)
        .x(function(d, i) { return d[0]; })
        .y(function(d, i) { return d[1]; }));

  });
