h1 good user
h4 calories
#calories-good
h4 exercise
#exercise-good
h4 articles
#articles-good

h1 bad user
h4 calories
#calories-bad
h4 exercise
#exercise-bad
h4 articles
#articles-bad

h1 mixed user
h4 calories
#calories-mixed
h4 exercise
#exercise-mixed
h4 articles
#articles-mixed

h1 spotty user
h4 calories
#calories-spotty
h4 exercise
#exercise-spotty
h4 articles
#articles-spotty

script.

  var initChart = function(file, element) {
    var array = [];

    d3.text(file, function(data) {
      c = d3.csv.parseRows(data);
      for (i = 0; i < c.length; i++) {
        array.push([ c[i][0], parseFloat(c[i][1]) ] )
      }

    d3.select(element)
      .datum(array)
        .call(columnChart()
          .width(600)
          .height(100)
          .x(function(d, i) { return d[0]; })
          .y(function(d, i) { return d[1]; }));
    });
  };

  initChart("data/calories_good.csv", "#calories-good")
  initChart("data/exercise_good.csv", "#exercise-good")
  initChart("data/articles_good.csv", "#articles-good")

  initChart("data/calories_bad.csv", "#calories-bad")
  initChart("data/exercise_bad.csv", "#exercise-bad")
  initChart("data/articles_bad.csv", "#articles-bad")

  initChart("data/calories_mixed.csv", "#calories-mixed")
  initChart("data/exercise_mixed.csv", "#exercise-mixed")
  initChart("data/articles_mixed.csv", "#articles-mixed")

  initChart("data/calories_spotty.csv", "#calories-spotty")
  initChart("data/exercise_spotty.csv", "#exercise-spotty")
  initChart("data/articles_spotty.csv", "#articles-spotty")
