// #scrubber {
// 	opacity: 0;
// }
// #tooltip {
// 	opacity: 0;
// 	path {
// 		fill: #333;
// 	}
// }
// .tooltip {
// 	background: black;
// }

// #column {
// 	&:hover {
// 		#scrubber {
// 			opacity: 1;
// 		}
// 		#tooltip {
// 			opacity: 1;
// 		}
// 	}
// }


h1 {
	margin-top: 6em;
}

.graph {
	display: inline-block;
	// background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/subtlenet2.png') repeat;
}

.bar {
	&.negative {fill: red}
	&.positive {fill: blue}
}

.cal-graph {
	.bar {
		&.negative {fill: blue}
		&.positive {fill: red}
	}
}
 
.hotspot {
	fill: rgba(0,0,0,0.05);
}

.scrub {
	fill: #eee;
}

.axis path, .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}